.heading{
    text-align: center;
    font-size: 2rem;
    color: #333;
}
.newChatForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.newChatBtn{ 
    background: dodgerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chat{
    background: aliceblue;
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.msg{
    background: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;

}
.msg .btns{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.editBtn{
    background: white;
    color: dodgerblue;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}