<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-5 mb-5">
  <div class="col-8 offset-2">
    <h1>Create New Listing</h1>
    <form method="POST" action="/listings">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Enter title"
          class="form-control"
        />
      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          name="listing[description]"
          placeholder="Enter description"
        ></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          id="image"
          class="form-control"
          name="listing[image]"
          placeholder="https://example.com/image.jpg"
        />
      </div>
      <div class="row">
        <div class="form-group mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            id="price"
            class="form-control"
            name="listing[price]"
            placeholder="1200"
          />
        </div>

        <div class="form-group mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            id="country"
            class="form-control"
            name="listing[country]"
            placeholder="Enter country"
          />
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          name="listing[location]"
          placeholder="Enter  location"
        />
      </div>
      <button type="submit" class="btn btn-dark add-btn">Submit Listing</button>
    </form>
  </div>
</div>
