
*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;
}
div{
    background: pink;
}
.header{
    grid-column: 1/13;
}
.sidebar{
    grid-column: 1/4;
    grid-row: 2/11;
}
.navigation{
    grid-column: 4/11;
}
.adds{
    grid-row: 2/11;
    grid-column: 11/13;
}
.main{
    grid-column:4/11 ;
    grid-row: 3/11;
}
.footer{
    grid-column: 1/13;
}

@media only screen and (max-width: 768px) {
    .header{
        grid-column: 1/13;
    }
    .navigation{
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .sidebar{
        grid-column: 1/4;
        grid-row: 3/12;
    }
    .main{
        grid-column: 4/13;
        grid-row: 3/12;
    }
    .adds{
        grid-row: 12/13;
        grid-column: 1/4;
    }
    .footer{
        grid-column: 4/13;
        grid-row: 12/13;
    }
}
