*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    gap: 20px;
    height: 100vh;
    margin: 20px;
}
.card{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    transition: all 0.5s;
    border: 1px solid #ccc;
}
.img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    /* object-position: top; */
}
.card{
    padding: 10px;
}
.name{
    padding-top: 10px;
}
.name h3{
    font-size: 24px;
    font-weight: bold;
}
.name p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.card:hover{
    transform:scale(1.1);
    box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
}

