<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h2>Edit your username</h2>
    <form action="/user/<%=user.id %>?_method=PATCH" method="POST">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        value="<%= user.username %>"
        required
      />
      <label for="password"></label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Change</button>
    </form>
  </body>
</html>
