<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h2>Edit your post</h2>
    <h3>@<%=post.username %></h3>
    <form action="/posts/<%=post.id %>?_method=PATCH" method="post">
      <label for="content">Content</label>
      <textarea name="content" id="content"><%= post.content%></textarea>
      <button type="submit">Edit Post</button>
    </form>
  </body>
</html>
