<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Your Post</h1>
    <div class="post">
      <h3 class="user">@<%= post.username %></h3>
      <p><%= post.content %></p>
    </div>
  </body>
</html>
